<div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-5 mb-5">
  <img src="<%= author.avatar %>" alt="<%= author.name %>" class="avatar rounded-circle" width="125" height="125">

  <div class="text-center text-md-start author-bio">
    <% if (showName) { %>
      <a href="/author/<%= author.id %>/" data-app-link="false" class="author-name primary">
        <%= author.name %>
      </a>
    <% } %>

    <div><%= author.bio %></div>

    <% if (showWebsite) { %>
      <a href="<%= author.website %>" data-app-link="false" target="_blank" class="mt-2 d-block">Website &#x2192;</a>
    <% } %>
  </div>
</div>
