<aside class="sidebar d-flex flex-column gap-5">
  <% if (typeof latestPosts !== 'undefined') { %>
    <nav class="latest-posts">
      <h4 class="sidebar-title">Latest Posts</h4>
      <ul>
        <% for (const post of latestPosts) { %>
          <li class="d-flex gap-3 my-3">
            <a href="/post/<%= post.id %>/" data-app-link="false">
              <% if (post.titleImage) { %>
                <img src="<%= post.titleImage %>" alt="<%= post.title %>" width="135" height="75" class="sidebar-latest-post-image" loading="lazy">
            <% } else { %>
              <div class="no-item-tile-title-image">
                <span class="material-icons">article</span>
              </div>
            <% } %>
            </a>
            <a href="/post/<%= post.id %>/" data-app-link="false"><%= post.title %></a>
          </li>
        <% } %>
      </ul>
    </nav>
  <% } %>

  <% if (typeof categories !== 'undefined') { %>
    <nav class="categories">
      <h4 class="sidebar-title">Categories</h4>
      <ul>
        <% for (const category of categories) { %>
          <li>
            <a href="/category/<%= category.id %>/" data-app-link="false">
              <%= category.name %>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
  <% } %>

  <% if (typeof tags !== 'undefined') { %>
    <nav class="tags">
      <h4 class="sidebar-title">Tags</h4>
      <div>
        <%
          var tagCounts = tags.map(tag => tag.count);
          var max = Math.max(...tagCounts);
          var min = Math.min(...tagCounts);
          var fontMin = 8;
          var fontMax = 22;
          var fontStep = (fontMax - fontMin) / (max - min);
        %>

        <% for (const tag of tags) { %>
          <% var fontSize = fontMin + (tag.count - min) * fontStep; %>
          <a href="/tag/<%= tag.slug %>/" data-app-link="false" class="d-inline-block ms-2" style="font-size: <%= fontSize %>pt;">
            <%= tag.name %>
          </a>
        <% } %>
      </div>
    </nav>
  <% } %>
</aside>
