<div class="item-tile col-12 col-sm-6 col-xl-4 d-flex flex-column gap-4 p-4">
  <a href="<%= item.link %>" <% if (item.openInNewTab) { %>target="_blank"<% } %>>
    <% if (item.image) { %>
      <img src="<%= item.image %>" class="item-tile-image" alt="<%= item.title %>" loading="lazy">
    <% } else { %>
      <div class="no-item-tile-title-image">
        <span class="material-icons">article</span>
      </div>
    <% } %>
  </a>

  <h2 class="item-tile-name">
    <a href="<%= item.link %>" <% if (item.openInNewTab) { %>target="_blank"<% } %>>
      <%= item.title %>
    </a>
  </h2>

  <div class="item-tile-description">
    <%- item.description %>
  </div>
</div>
