<div class="container">
  <h1 class="page-title"><%= title %></h1>

  <div class="row">
    <div class="col-12 col-lg-9">
      <%- include('../_partials/itemTileGridHorizontal.ejs', { items: blogPosts }) %>

      <% if (totalPages > 1) { %>
        <div class="pagination d-flex gap-1 justify-content-center mt-2 mt-md-5">
          <% if (currentPage != 1) { %>
            <a href="/posts/?page=<%= Number(currentPage) - 1 %>" class="pagination-link badge">&#x2190; Previous</a>
          <% } %>

          <% for (let pageNumber = 1; pageNumber <= totalPages; pageNumber++) { %>
            <% if (pageNumber === 1) { %>
              <a href="/posts/" class="pagination-link badge <% if (currentPage == 1) { %>selected<% } %>">1</a>
            <% } else { %>
              <a href="/posts/?page=<%= pageNumber %>" class="pagination-link badge <% if (pageNumber == currentPage) { %>selected<% } %>"><%= pageNumber %></a>
            <% } %>
          <% } %>

          <% if (currentPage < totalPages) { %>
            <a href="/posts/?page=<%= Number(currentPage) + 1 %>" class="pagination-link badge">Next &#x2192;</a>
          <% } %>
        </div>
      <% } %>
    </div>
    <div class="col-12 col-lg-3 mt-5 mt-lg-0">
      <%- include('../_partials/genericSidebar.ejs') %>
    </div>
  </div>
</div>

