<div class="container blog-post">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h1 class="post-title mb-4"><%= title %></h1>

      <div class="post-meta low-opacity-text d-flex gap-2 mb-5">
        <a href="/author/" class="body-color">author</a>
        <span>∙</span>
        <time datetime="<%= metaData.date %>"><%= helpers.formatLocaleDateTime(metaData.date) %></time>
      </div>

      <% if (metaData.titleImage) { %>
        <div class="text-center">
          <img src="<%= metaData.titleImage %>" alt="<%= title %>" class="title-image mb-4">
        </div>
      <% } %>

      <div class="mb-5">
        <%- body %>
      </div>

      <div class="row">
        <div class="col">
          <% if (metaData.categories) { %>
            <strong>Categories</strong>
            <div class="d-flex gap-2 flex-wrap mt-2">
              <% for (const category of metaData.categories) { %>
                <a href="/category/<%= category %>" class="badge small green"><%= category %></a>
              <% } %>
            </div>
          <% } %>
        </div>
        <div class="col">
          <% if (metaData.tags) { %>
            <strong>Tags</strong>
            <div class="d-flex gap-2 flex-wrap mt-2">
              <%for (const tag of  metaData.tags) { %>
                <a href="/tag/<%= tag %>" class="badge small orange"><%= tag %></a>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5 mt-lg-0 offset-lg-1">
      <%- include('../_partials/genericSidebar.ejs') %>
    </div>
  </div>
</div>

