<div class="container blog-post mb-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h1 class="post-title mb-2"><%= title %></h1>

      <div class="post-meta low-opacity-text d-flex gap-2 mb-4 align-items-center">
        <%- include('../_partials/authorAvatarName.ejs') %>
        <span>∙</span>
        <time datetime="<%= metaData.publishedDate %>"><%= helpers.formatLocaleDateTime(metaData.publishedDate) %></time>
        <% if (metaData.status === 'draft' || metaData.scheduled === true) { %>
          <span>∙</span>
          <%- include('../_partials/postDraftScheduledIndicators.ejs') %>
        <% } %>
      </div>

      <% if (metaData.titleImage) { %>
        <div class="text-center">
          <img src="<%= metaData.titleImage %>" alt="<%= title %>" class="title-image mb-4">
        </div>
      <% } %>

      <div class="post-body mb-5">
        <%- body %>
      </div>

      <div class="categories-tags row mb-5">
        <div class="col">
          <% if (postCategories) { %>
            <strong>Categories</strong>
            <div class="d-flex gap-2 flex-wrap mt-2">
              <% for (const category of postCategories) { %>
                <a href="/category/<%= category.id %>/" class="badge small green"><%= category.name %></a>
              <% } %>
            </div>
          <% } %>
        </div>
        <div class="col">
          <% if (postTags && postTags.length > 0) { %>
            <strong>Tags</strong>
            <div class="d-flex gap-2 flex-wrap mt-2">
              <%for (const tag of postTags) { %>
                <a href="/tag/<%= tag.slug %>/" class="badge small orange"><%= tag.name %></a>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>

      <div>
        <h3 class="mb-3">About the Author<% if (authors.length > 1) { %>s<% } %></h3>
        <div class="d-flex gap-4">
          <% for (const author of authors) { %>
            <%- include('../_partials/authorBio.ejs', { author, showName: true, showWebsite: false }) %>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5 mt-lg-0 offset-lg-1">
      <%- include('../_partials/genericSidebar.ejs') %>
    </div>
  </div>
</div>

